* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  place-items: center;
  font-family: 'Arial', sans-serif;
  background-image: url('../src/assets/sky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: #000000 2px 1px 8px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.input {
  padding: 10px;
  margin-bottom: 2vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2vh;
}

.button:hover {
  background-color: #45a049;
}

.weatherData {
  background-color: #f5f5f523;
  padding: 2vh; /* Ajustado a unidades relativas */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35%; /* Ajustado a unidades relativas */
  min-height: 70%;
  backdrop-filter: blur(30px);
  margin: 5vh 0; /* Ajustado a unidades relativas */
}

.error {
  color: #ff0000;
  font-size: smaller;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.sunImg {
  width: 100%;
  max-width: 300px;
  animation: rotateSun 15s linear infinite;
  margin-bottom: 2vh;
  z-index: -1;
}

.nubeImg,
.nubeImg2 {
  width: 50vw;
  position: absolute;
  opacity: 0.7;
}

.nubeImg {
  top: 2vw;
  animation: slideTop 20s linear infinite;
}

.nubeImg2 {
  bottom: -5vw;
  animation: slideBottom 25s linear infinite;
}

@keyframes rotateSun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideTop {
  0% {
    transform: translateX(-100vw);
  }

  100% {
    transform: translateX(110vw);
  }
}

@keyframes slideBottom {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100vw);
  }
}

@media screen and (max-width: 600px) {
  * {
    overflow: hidden !important;
  }

  .input {
    width: 100%;
  }

  .sunImg {
    margin-bottom: 10%;
  }

  .nubeImg,
  .nubeImg2 {
    width: 150vw;
    position: relative;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    min-height: auto !important;
  }

  .weatherData {
    position: absolute;
    width: 90%;
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    top: 0;
  }
}
