/* WeatherCards.css */

*{
  overflow: hidden;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.weatherCard {
  width: 60%;
  height: 42%;
  margin: 5%;
  padding: 5%;
  border-radius: 5px solid rgba(128, 128, 128, 0.68);
  transition: transform 0.2s;
  position: absolute;
  top: 15%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0000008d !important;
  z-index: 99;
  backdrop-filter: blur(20px);
  
  &:hover {
    transform: scale(1.05);
  }
  
  p {
    margin: 0;
    font-size: 14px;
  }
}

.buttonStyle {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.buttonStyle:hover {
  background-color: #45a049;
}

@media  screen and (max-width:600px) {
  body{
    overflow: hidden;
  }

  .weatherCard {
    width: 80%;
    margin-left: 0;
    top: 16%;
  }
}