* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden; /* Para ocultar el desbordamiento en toda la página */
}

.cardContainer {
  display: grid;
  place-items: center;
  height: 100vh; /* Ajustado para ocupar la altura completa de la pantalla */
}

.weatherCard {
  width: 60%;
  height: 45%;
  margin: 5%;
  padding: 5%;
  border-radius: 5px solid rgba(128, 128, 128, 0.68);
  transition: transform 0.2s;
  position: absolute;
  top: 19%; /* Ajustado para quedar arriba del sol */
  left: 45%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Centrar respecto al 50% de la anchura */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0000008d !important;
  z-index: 99;
  backdrop-filter: blur(20px);

  p {
    margin: 0;
    font-size: 14px;
  }
}

.buttonStyle {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5vh; /* Ajustado a unidades relativas */
}

.buttonStyle:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .weatherCard {
    width: 80%;
    top: 15%; /* Ajuste para centrar en dispositivos móviles */
    height: 60%;
  }
}
